<!DOCTYPE html>
<html>
<head>
<title>My Wave</title>
<link rel="stylesheet" href="home.css">
<script src="home.js"></script> 
</head>

<div class="title"
style="position:absolute;top:18vw;left:9vw;">
    <span style="color: #dafcff">My</span> Wave</div>


<body>
    <!--trad.nomdepage["sinscrire"]-->
    <div class="btn" id="sub"
        style="position:absolute;top:30vw;left:28vw; transform:rotate(2deg)"
        onclick="profil()">
        Profil</div>

    <div class="btn"
        style="position:absolute;top:27vw;left:54vw; transform:rotate(-14deg)"
        onclick="logout()">
        Logout</div>
    
    <div class="btn"
        style="position:absolute;top:22vw;left:76vw; transform:rotate(-7deg)"
        onclick="menu()">
        Menu</div>

</body>


</html>